body {
  /* background: linear-gradient(to right, #0f2027, #203a43, #2c5364); */
  font-family: "Poppins", sans-serif;
}

#form {
  width: 300px;
  margin: 20vh auto 0 auto;
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 30px;
  font-size: 12px;
}

#form h1 {
  color: #0f2027;
  text-align: center;
}

#form button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(93, 189, 20);
  border: none;
  border-radius: 20px;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 2px solid #00ded6;
  border-radius: 20px;
  display: block;
  font-size: 12px;
  padding: 10px;
  width: 100%;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #00f38a;
}

.input-control.error input {
  border-color: #920521;
}

.input-control .error {
  color: #920521;
  font-size: 9px;
  height: 13px;
}
